<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="csrf-token"
      content="p7KDGowVOP0xNuYgpHWxJDVaF8jOUwugYq9EL6Vn"
    />
    <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="./../stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="preconnect"
      href="https://www.dafontfree.net/embed/Z290aGFtLXJvdW5kZWQtYm9sZCZkYXRhLzQ2L2cvNTg4MDUvR290aGFtUm91bmRlZC1Cb2xkLm90Zg"
    />
    <link
      rel="preconnect"
      href="https://www.dafontfree.net/embed/Z290aGFtLXJvdW5kZWQtbGlnaHQmZGF0YS80Ni9nLzYyODE2L0dvdGhhbVJvdW5kZWQtTGlnaHQub3Rm"
    />
    <title>Profile</title>
  </head>
  <body>
    <div class="pet-wrapper">
      <div class="pet-container">
        <div class="main-header">
          <a href="pettap://app/pet-details/1" class="tap-link-redirect"
            >Tap here to open in Pettap app</a
          >
        </div>
        <div class="pet-header">
          <figure>
            <img
              src="./../pets/pets_name_393599396.png"
              class="rounded-circle"
            />
          </figure>
        </div>
        <div class="pet-content-section">
          <h2 class="pet_name_class">pets_name 1</h2>
          <p class="pet-bread">pets_breed 1</p>
          <p class="pet-desc">notes_about_me</p>
          <h4>Contact My Owner</h4>
          <ul>
            <li>
              <a href="tel:6239463839"
                ><img src="./../images/call-icon.png" />
                <p class="pet-descc">Phone</p></a
              >
            </li>
            <li>
              <a
                href="https://www.google.com/maps/?q=1156546,465464"
                target="_blank"
                ><img src="./../images/map-icon.png" />
                <p class="pet-descc">Address</p></a
              >
            </li>
            <li>
              <a href="sms://6239463839"
                ><img src="./../images/chat-icon.png" />
                <p class="pet-descc">Message</p></a
              >
            </li>
          </ul>
          <h4>
            Thankyou for <br />
            looking after me
          </h4>
          <b
            ><p class="copy-text">
              Pet Tap © COPYRIGHT 2021 | ALL RIGHTS RESERVED
            </p></b
          >
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
